.history
.vscode
*-lock.json
*.log
*.bak
*.out
logs/
tmp
*.db
*.lock
rclone.conf
key.bak
node_modules
dist
/data
/wst
/rclone
/server/data/certs
/changes
/copy-changes.sh
server/data/minas.db-shm
server/data/minas.db-wal
copy_changed_files.sh
